{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}

<div class="container d-flex text-center h-100">
    <div class="w-100 m-auto" style="max-width: 330px">
        <form>
            <img class="mb-4" src="{% static 'logo.png' %}" alt="" height="57">
            <h1 class="h3 mb-3 fw-normal">Sign in</h1>

            {% url 'galleries:create_gallery' as success_url %}
            <a class="btn btn-light w-100"
                href="{% provider_login_url "google" openid="https://www.google.com/accounts/o8/id" next=success_url %}">Sign in with Google</a>
        </form>
    </div>
</div>
{% endblock content %}
